body {
    width: 375px;
    margin: 0px;
}
main {
    width: 100%;
}
#navBar {
    width: 100%;
    background: black;
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

li {
    list-style: none;
    flex-direction: row;
    margin: 0px 10px 0px 10px;
}


/* presentacion */


#about {
    background: gray;
    height: 933px;
}

#about p {
    margin: 0px;
}

#proyects img {
    width: 100%;
}